* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  select{
    float: right;
}
  #payment-form {
    max-width: 550px;
    min-width: 300px;
    margin: 150px auto;
    
  }
  .login{
    display: flex;
    justify-content: Center;
    align-items: center;
    padding-top: 30px;
  }
  #Cash-out {
    width: 25%;
  }
  #History {
    display: flex;
    justify-content: Center;
  }
  label {
    color: #666;
    font-size: .875rem;
  }
  #login-form {
    max-width: 300px;
  }
  #Add-Cash {
    width: 25%;
  }
  #Balance {
    display: flex;
    gap: 20px;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
  }
  #next-page{
    font-size: 12px;
    padding: 10px 24px;
    width: 25%;
  }
  #BalMoney{
    display: flex;
    gap: 20px;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 32pt;
  }
  .buyer-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #previous-page{
    font-size: 12px;
    padding: 10px 24px;
    width: 25%;
  }
  #card-button {
    width: 25%;
  }
  #card-container {
    margin-top: 45px;
    min-height: 90px;
  }
  
  @media screen and (max-width: 500px) {
    #card-container {
      min-height: 140px;
    }
  }
  #customer-input {
    margin-bottom: 40px;
  }
  #sortby{
    display: flex;
    justify-content: right;
  }
  .remember{
    display: flex;
    justify-content: right;
  }
  #sortbyDD{
    display: flex;
    justify-content: right;
  }
  input {
    padding: 12px;
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  button {
    color: #ffffff;
    background-color: #006aff;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    user-select: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px;
    width: 100%;
    box-shadow: 1px;
    border-radius: 20%/50%;
  }
  #login{
    background-color: #006aff;
    color: #ffffff;
  }
  .button-array{
    display: flex;
    justify-content: space-between;
    border: none;
  }
  .history-container {
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.45);
  }
  
  .history-container > .header {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
  }
  
  .account-balance {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    margin-top: 15px;
  }
  
  .account-balance > .label {
    font-size: 14px;
  }
  
  .account-balance > amount {
    font-size: 16px;
  }
  
  .dots {
    border-bottom: 1px dotted #ccc;
    flex-grow: 1;
  }
  
  .transactions {
    background-color: #ededed;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .transactions > table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
  }
  
  .transactions > table td {
    padding: 0;
  }
  
  h3 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    padding: 10px 0;
  }
  
  .transaction-row {
    height: 30px;
    white-space: pre;
  }
  
  .transaction-date {
    width: 23%; /*?*/
  }
  
  .transaction-amount {
    text-align: right;
  }