* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  select{
    float: right;
}
  #payment-form {
    max-width: 550px;
    min-width: 300px;
    margin: 150px auto;
    
  }
  #Cash-out {
    width: 25%;
  }
  #History {
    display: flex;
    justify-content: Center;
  }
  label {
    color: #666;
    font-size: .875rem;
  }
  #login-form {
    max-width: 300px;
  }
  #Add-Cash {
    width: 25%;
  }
  #Balance {
    display: flex;
    gap: 20px;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
  }
  #next-page{
    font-size: 12px;
    padding: 10px 24px;
    width: 25%;
  }
  #BalMoney{
    display: flex;
    gap: 20px;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 32pt;
  }
  .buyer-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #previous-page{
    font-size: 12px;
    padding: 10px 24px;
    width: 25%;
  }
  #card-button {
    width: 25%;
  }
  #card-container {
    margin-top: 45px;
    min-height: 90px;
  }
  
  @media screen and (max-width: 500px) {
    #card-container {
      min-height: 140px;
    }
  }
  #customer-input {
    margin-bottom: 40px;
  }
  #sortby{
    display: flex;
    justify-content: right;
  }
  .remember{
    display: flex;
    justify-content: right;
  }
  #sortbyDD{
    display: flex;
    justify-content: right;
  }
  input {
    padding: 12px;
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  button {
    color: #ffffff;
    background-color: #006aff;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    user-select: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px;
    width: 100%;
    box-shadow: 1px;
    border-radius: 20%/50%;
  }
  #login{
    background-color: #006aff;
    color: #ffffff;
  }
  .button-array{
    display: flex;
    justify-content: space-between;
    border: none;
  }